*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
   
background-image: url(https://jooinn.com/images/school-building-5.jpg);
background-repeat: no-repeat;
background-size:100%;
}
.nav{
    display:flex;
    flex-direction: row;
    background:linear-gradient(to bottom,blue,lightblue);
    /* align-items: center; */
    margin-top:0 ;
}
.sf,.home,.contact,.sp,.tt,.about{
    
    display:block;
    /* background:linear-gradient(to bottom,blue,lightblue); */
    width:auto;
    margin: 1px;
    margin-top: 0px;
    border-right: 2px solid silver;
    justify-content: center;
    /* border: 2px solid red; */
    align-items: center;
}
.info h2{
    color: aliceblue;
    text-shadow: 1px 1px 1px rgb(194, 62, 22);
    text-align: center;
}
.info p{
    color:black;
    text-shadow: 1px 1px 1px blue;
    text-align: center;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.info{
    background-color: rgba(92, 92, 86,0.9);
    margin: 30px;
    width: 800px;
    border: 2px solid gold;
    font-size: large;
    color:black;
    border-radius: 10px;
}

.sf a,.home a,.contact a,.sp a,.tt a,.about a{
    /* padding-top: 20px; */
    display: block;
    height:inherit;
    margin: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    /* border: 2px solid silver; */
}
.about {
    border:none;
}
a{
    display:block;
}
.sf a:hover,.home a:hover,.contact a:hover,.sp a:hover,.tt a:hover,.about a:hover{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: rgb(101, 95, 107); */
}
.center{
    position:absolute;
    top: 25%;
    right: 5%;
border: 2px solid silver;
width: 300px;
background-color: rgba(141, 130, 130,0.75);
border-radius: 5%;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
}
.username{
    font-size: 16px;
    margin: 40px;
}
.username span{
    margin-left: 60px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-shadow: 1px 1px 1px white;
}
.username input{
    margin: 4px;
    font-size: 16px;
    border-radius: 10px;
}
